
@font-face {
    font-family: 'Lama Sans Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Regular'), url('../fonts/LamaSans-Regular.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Regular Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Regular Italic'), url('../fonts/LamaSans-RegularItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Thin';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Thin'), url('../fonts/LamaSans-Thin.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Thin Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Thin Italic'), url('../fonts/LamaSans-ThinItalic.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Lama Sans ExtraLight';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans ExtraLight'), url('../fonts/LamaSans-ExtraLight.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans ExtraLight Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans ExtraLight Italic'), url('../fonts/LamaSans-ExtraLightItalic.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Lama Sans Light';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Light'), url('../fonts/LamaSans-Light.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Light Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Light Italic'), url('../fonts/LamaSans-LightItalic.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Lama Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Medium'), url('../fonts/LamaSans-Medium.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Medium Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Medium Italic'), url('../fonts/LamaSans-MediumItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans SemiBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans SemiBold Italic'), url('../fonts/LamaSans-SemiBoldItalic.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Lama Sans SemiBold';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans SemiBold'), url('../fonts/LamaSans-SemiBold.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Bold';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Bold'), url('../fonts/LamaSans-Bold.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Bold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Bold Italic'), url('../fonts/LamaSans-BoldItalic.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Lama Sans ExtraBold';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans ExtraBold'), url('../fonts/LamaSans-ExtraBold.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans ExtraBold Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans ExtraBold Italic'), url('../fonts/LamaSans-ExtraBoldItalic.woff') format('woff');
  }
  

  @font-face {
    font-family: 'Lama Sans Black';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Black'), url('../fonts/LamaSans-Black.woff') format('woff');
  }

  @font-face {
    font-family: 'Lama Sans Black Italic';
    font-style: normal;
    font-weight: normal;
    src: local('Lama Sans Black Italic'), url('../fonts/LamaSans-BlackItalic.woff') format('woff');
  }