.single-blog-item {
    &.lg-blog-item {
        margin-bottom: 50px;
        padding-bottom: 50px;
        &:last-child {
            padding-bottom: 60px; 
            margin-bottom: 0px;
        }
    }
    &.xs-list-blog-item {
        margin-bottom: 30px;
        padding-bottom: 30px;
        &:last-child {
            margin-bottom: 0;
        }
    }
    & .post-feature {
        img {
            border-radius: 5px;
        }
    }
    & .post-quote {
        position: relative;
        padding: 78px 40px 53px;
        background: #f5f7fd;
        text-align: center;
        & .post-quote-text {
            line-height: 1.5;
            margin-bottom: 39px;
        }
        &::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 54px;
            transform: translateX(-50%);
            height: 132px;
            width: 150px;
            background: url(../img/icons/quote.png) no-repeat;
        }
        & .post-quote-name {
            color: #333;
        }
    }
    & .post-link {
        background-color: #38cb89;
        position: relative;
        padding: 68px 20px 62px;
        text-align: center;
        & a {
            color: $white;
            word-wrap: anywhere;
        }
        &::before {
            content: '';
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            height: 112px;
            width: 112px;
            background: url(../img/icons/link.png) no-repeat;
        }
    }
    & .post-audio-box {
        width: 100%;
        border: none;
    }
    & .post-info {
        & .post-categories {
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
            margin-bottom: 10px;
        }
        & .post-title {
            color: $theme-color--default;
            font-family: 'Lama Sans Semibold';
            margin-bottom: 15px;
        }
        & .post-description {
            font-size: 20px;
            & p {
                & span {
                    color: $theme-color--secondary;
                    font-family: 'Lama Sans Semibold';
                }
            }
        }
        & .post-excerpt {
            font-size: 16px;
        }
        & .post-meta {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -10px;
            & .post-author {
                padding: 5px 10px 0;
                & .avatar-96 {
                    width: 32px;
                    vertical-align: middle;
                    margin-right: 6px;
                    border-radius: 50%;
                }
            }
            & .post-date {
                padding: 5px 10px;
                & .meta-icon {
                    margin-left: 6px;
                }
            }
            & .post-comments {
                padding: 5px 10px;
                & .meta-icon {
                margin-left: 6px;
                }
            }
        }
    } 
    
    &.blog-grid {
        height: 100%;
        display: flex;
        flex-direction: column;
        border-radius: 8px;
        overflow: hidden;
        background: #fff;
        box-shadow: 0 4px 32px rgba(51, 51, 51, 0.07);
        & .post-info {
            flex-grow: 1;
            padding: 0px 28px 25px;
            & .post-title {
                margin-bottom: 40px;
                line-height: 1.5;
            }
        }
    }
    
    &.blog-masonry {
        margin-bottom: 70px;
        @media #{$tablet-device}{
            margin-bottom: 50px;
        }
        @media #{$large-mobile}{
            margin-bottom: 30px;
        }
        & .post-info {
            & .post-title {
                line-height: 1.5;
            }
        }
    }
    
    & .post-read-more {
        & .btn-read-more {
            color: #347176;
            font-weight: 500;
            &::before {
                content: '';
                display: inline-block;
                vertical-align: middle;
                height: 1px;
                width: 40px;
                background: #ccc;
                margin-right: 15px;
            }
            &:hover {
                color: $theme-color--green;
            }
        }
    }
    
}
