/*=============================================
=          48. Portfolio Pages Css            =
=============================================*/

.single-portfolio-item {
    display: block;
    position: relative;
    &:hover {
        .post-overlay {
            visibility: visible;
            opacity: 1;
        }
        & .single-portfolio__content {
            visibility: visible;
            opacity: 1;
        }
        & .overlay-categories {
            opacity: 1;
            transition: .5s ease-out .2s;
            transform: translateY(0);
        }
        & .post-overlay-title {
            opacity: 1;
            transition: .5s ease-out .2s;
            transform: translateY(0);
        }
        transform: translateY(-5px);
    }
    @media #{$large-mobile,$tablet-device}{
        & img {
            width: 100%;
        }
    }
}

.single-portfolio-item {
    &:hover {
        transform: translateY(0px);
    }
}

.single-portfolio__thumbnail {
    & .border-radus-5 {
        border-radius: 5px;
    }
    @media #{$large-mobile}{
        & img {
            width: 100%;
        }
    }
}

.post-overlay {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    border-radius: inherit;
    transition: $transition--default;
    &.gradient-background {
        color: #fff;
        background-color: #004C54;
        background-image: linear-gradient(-129deg,#004C54 0,#347176 100%);
        border-radius: 5px;
    }
}

.single-portfolio__content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    color: $white;
    visibility: hidden;
    opacity: 0;
    & .post-overlay-info {
        padding: 25px;
        text-align: center;
    }
    & .overlay-categories {
        font-size: 14px;
        font-weight: 500;
        text-transform: uppercase;
        letter-spacing: 2px;
        opacity: 0;
        transition: .3s ease-out 0s;
        transform: translateY(-10px);
        margin-bottom: 10px;
        color: #fff;
    }
    & .post-overlay-title {
        opacity: 0;
        transition: .3s ease-out 0s;
        transform: translateY(10px);
        line-height: 1.5;
        margin: 0;
    }
    
}

.portfolio-grid-caption {
    border-radius: 5px;
    background: #fff;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    transition: $transition--default;
    @media #{$extra-small-mobile}{
        max-width: 300px;
    }
    & a {
        display: block;
    }
    & .post-info {
        padding: 32px 30px 39px;
        background-color: #679499;
        & .post-title {
            color: #f0eccf;
            font-size: 23px;
        }
        & .post-categories {
            margin-bottom: 13px;
            color: #b6b7d2;
            font-size: 14px;
            font-weight: 500;
            text-transform: uppercase;
            letter-spacing: 2px;
        }
    }
    &:hover {
        box-shadow: 0 22px 32px rgba(51, 51, 51, 0.1);
        transform: translateY(-5px);
    }
}

.load-more-button {
    & .ht-btn {
        font-size: 18px;
        margin-top: 20px;
    }
    & .ht-btn.noContent {
        line-height: 12px;
        height: 0;
        border-width: none;
        background: $theme-color--secondary;
        border-color: $theme-color--default;
        color: $theme-color--default;
        margin-top: 0px;
    }
}

.portfolio-details-one-images {
    max-width: 540px;
}