.header {
    padding: 30px 0px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    &.is-sticky {
        animation: .95s ease-in-out 0s normal none 1 running fadeInDown;
        transition: $transition--default;
        box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
        background-color: #f5f2df;
    }

    .container {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .logo img {
        max-width: 200px;
    }

    .nav {
        flex: 1;
        display: flex;
        justify-content: space-around;
        align-items: center;

        
    
        ul {
            display: flex;
            list-style: none;
            font-family: 'Lama Sans Medium';
            letter-spacing: 1px;

            li {
                margin-left: 2rem;
                position: relative;
                font-size: 18px;
                a {
                    color: $theme-color--default;
                    text-decoration: none;
                    &:after {
                        content: '';
                        width: 0;
                        height: 1px;
                        bottom: -3px;
                        position: absolute;
                        left: auto;
                        right: 0;
                        z-index: 1000;
                        background-color: $theme-color--black;
                        transition: $transition--default;
                    }
                    &:hover {
                        color: $theme-color--black;

                        &:after{
                            width: 100%;
                            left: 0;
                            right: auto;

                        }
                    }
                }

                &.dropdown {
                    &:hover .dropdown-menu {
                        display: block;
                    }

                    .dropdown-menu {
                        display: none;
                        position: absolute;
                        top: 100%;
                        left: 0;
                        padding: 1rem;
                        list-style: none;
                        width: 320px; 
                        background-color: #f5f2df;   
                        li {
                            letter-spacing: 1px;
                            width: auto;
                            text-align: right;
                            margin-bottom: 0.5rem;

                            &:last-child {
                                margin-bottom: 0;
                            }

                            .nav-link {
                                display: block; 
                                font-size: 16px;
                                color: $theme-color--default;
                                &:hover {
                                    color: $theme-color--black;

                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 768px) {
        background-color: #f5f2df; 

        .container {
            flex-direction: column;
            align-items: center;
        }

        .logo {
            margin-bottom: 15px;
        }
        
        .nav {
            display: flex; 
            width: 100%; 

            ul {
                display: flex; 
                justify-content: center;

                flex-direction: row; 
                flex-wrap: wrap; 
                margin: 0;
                padding: 0;
                list-style: none;
                li {
                    margin-left: 1rem; 
                    margin-bottom: 0; 
                    white-space: nowrap;
                }
            }
        }
    } 
}
    
